body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/Map3.png');
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

@font-face {
    font-family: Josefin;
    src: url(../font/JosefinSlab-Regular.ttf);
}

@font-face {
    font-family: Josefin-Bold;
    src: url(../font/JosefinSlab-Bold.ttf);
}

.info {
    position: fixed;
    top: -5vh;
    left: 27vw;
    width: 45vw;
    height: 125vh;
    animation: slideUp 1s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(300vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ich {
    position: absolute;
    top: 19vh;
    left: 39vw;
    height: 18vh;
    animation: slideUp 1s ease-out;
}

#info-name {
    position: absolute;
    top: 17vh;
    right: 37vw;
    height: 18vh;
    width: 15vw;
    z-index: 100;
    animation: slideUp 1s ease-out;
}

h2 {
    color: white;
    font-size: 2em;
    font-family: Josefin-Bold;
}

p {
    color: white;
    font-size: 1.6em;
    font-family: Josefin;
}

#info-me {
    position: absolute;
    top: 40vh;
    right: 36vw;
    height: 34vh;
    width: 25vw;
    z-index: 100;
    animation: slideUp 1s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(300vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.back {
    position: fixed;
    top: -5vh;
    left: -2vw;
    height: 35vh;
    opacity: 0;
    animation: slideIn 1s ease-out 0.4s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
