body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./img/StartMap.png');
    background-attachment: fixed;
    background-size: cover;
}


/* Start Screen & NAV - ANFANG*/
#nav-tree {
    position: fixed;
    top: -97vh;
    left: -46vw;
    height: 280vh;
    transform: rotate(-3deg);
    z-index: 1;
}

#start {
    position: fixed;
    top: 9vh;
    left: 0vw;
    height: 26vh;
    transform: rotate(-3deg);
    cursor: pointer;
    z-index: 2;
}

#how-to-play {
    position: fixed;
    top: 30vh;
    left: 0vw;
    height: 27vh;
    transform: rotate(2deg);
    z-index: 2;
}

#credits {
    position: fixed;
    top: 50vh;
    left: 0vw;
    height: 26vh;
    transform: rotate(-5deg);
    z-index: 2;
}

#start:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#how-to-play:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#credits:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#logo {
    position: fixed;
    top: 3vh;
    right: 0vw;
    height: 80vh;
    transform: rotate(12deg);
    animation: logoAnimation 3.5s ease-in-out infinite;
    z-index: 2;
}

@keyframes logoAnimation {
    0% {
        transform: rotate(12deg) scale(1);
    }

    50% {
        transform: rotate(14deg) scale(1.06);
    }

    100% {
        transform: rotate(12deg) scale(1);
    }
}

/* Start Screen & NAV - ENDE*/

/* Player Choose - ANFANG */

#playerChoose {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110vh;
    opacity: 0;
    z-index: 0;
}

#character-selection {
    position: fixed;
    top: -100%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5vw;
    opacity: 0;
    z-index: 100;
}

.character {
    width: 14vw;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.character:hover {
    transform: scale(1.05);
}

/* Player Choose - ENDE */

/* Spielfigur - ANFANG */
#player {
    position: fixed;
    left: 50vw;
    top: 50vh;
    width: 50px;
    height: 55px;
    overflow: hidden;
    display: none;
    z-index: 200;
}

#spriteImg {
    height: 600px;
    position: relative;
    right: 0px;
    top: -548px;
}

/* Spielfigur - ENDE */